<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"32px","margin":{"top":"0px","bottom":"0px"}}},"layout":{"contentSize":"690px"}} -->
	<div class="wp-block-group alignwide" style="margin-top:0px;margin-bottom:0px">
		<!-- wp:heading {"textAlign":"center","level":1} -->
		<h1 class="has-text-align-center">A music newsletter with 5 new songs every week.</h1>
		<!-- /wp:heading -->

		<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"blockGap":".88em"}}} -->
		<div class="wp-block-buttons">
			<!-- wp:button -->
			<div class="wp-block-button"><a class="wp-block-button__link" href="https://open.spotify.com/playlist/5VY5ApR9E5AifzXk1Qomwp?si=38efe48f49e84b16">Listen</a></div>
			<!-- /wp:button -->

			<!-- wp:button {"className":"is-style-outline"} -->
			<!-- <div class="wp-block-button is-style-outline"><a class="wp-block-button__link">About</a></div> -->
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->
	</div>
	<!-- /wp:group -->


	<div class="wp-block-group" style="width:60%;">
		<iframe src="https://freshnewsound.substack.com/embed" style="margin-left: auto; width:100%;" frameborder="0" scrolling="no"></iframe>
	</div>

	<div class="wp-block-group" style="margin-top:5vh;margin-bottom:0px">
		<hr class="wp-block-separator has-text-color has-secondary-color has-alpha-channel-opacity has-secondary-background-color has-background is-style-wide" />
		<div class="wp-block-group"	style="margin-top:0px;margin-bottom:0px;">
			<a href="https://freshnewsound.substack.com/archive" target="_blank">Read the archives</a>
		</div>
	</div>

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->